*{
    margin: 0%;
    padding: 0%;
}
.navbar-brand{
    font-size: xx-large;
    margin-left: 50px;
}
.Boxdiv { 
           min-height: 150px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: forestgreen;
    font-weight: bold;
    color: white;
}

.gallery{
    background-color: black;
}